body {
  font-family: "Times New Roman", Times, serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

header {
  background: #000;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav {
  margin-top: 0.5em;
}

nav a {
  margin: 0 1em;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2em;
}

input[type="file"] {
  margin-top: 1em;
}

#preview img {
  margin-top: 1em;
  max-width: 300px;
  display: block;
}
